.frontground {
    display: grid;
    grid-template-rows: repeat(6, auto);
}

.flex {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 24px;
    gap: 24px;
}

/*  */
.navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.navbar ul {
    flex-basis: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    box-sizing: content-box;
    border-radius: 12px;
    padding: 10px 25px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.navbar ul :first-child {
    margin-right: auto;
}

.navbar ul :last-child {
    margin-left: auto;
}

/*  */
.section-1 {
    display: grid;
    grid-template-areas: "space";
}

.orbit-parent {
    grid-area: space;
}

.hero-front {
    z-index: 1;
    grid-area: space;
    display: grid;
    justify-items: center;
}

.hero-front .hero-front-top {
    margin-top: 160px;
}

.hero-front h1 {
    text-align: center;
    max-width: 800px;

    margin-top: 12px;
    margin-bottom: 24px;
}

.hero-front p {
    text-align: center;
    max-width: 624px;
}

.blur {
    width: 100%;
    height: 192px;
    background: #F7F7F8;
    background: linear-gradient(0deg, rgba(247, 247, 248, 1) 0%, rgba(247, 247, 248, 1) 47%, rgba(237, 221, 83, 0) 100%);
}

.chat {
    margin-top: 70px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 5fr 1fr;
    gap: 18px;
    height: 275px;
    padding: 24px 24px;
    border-radius: 12px;
    background-color: var(--color-background);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.chat--output {
    padding-right: 18px;
    overflow-y: scroll;
    width: 500px;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 12px;
}

.chat--output p {
    text-wrap: wrap;
    font-size: 16px;
    text-align: left;
}

.chat--input form {
    display: flex;
}

.chat--input form input {
    font-size: 14px;
    width: 100%;
}

.chat--input form button {
    padding: 10px 20px !important;
}

.chat--input form button svg {
    width: 19px;
}

/*  */
.grids {
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 3fr 3fr 3fr 0.5fr;
    grid-template-rows: repeat(5, 200px);
    grid-template-areas: ".. .. .. .. .. .. .."
                         ".. .. a b c .. .."
                         ".. .. d e f .. .."
                         ".. .. g h i .. .."
                         ".. .. .. .. .. .. ..";
    background-color: var(--color-background);
}

.grids h2 {
    grid-area: e;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.grids svg {
    color: red;
    width: 27px;
    height: 27px;
    margin-right: 25px;
}

.grids--card {
    justify-self: start;
    align-self: center;
    text-align: left;
    padding: 30px 15px;

    display: grid;
    gap: 12px;
}

#first {
    grid-area: a;
}

#second {
    grid-area: i;
}

#third {
    grid-area: c;
}

#fourth {
    grid-area: g;
}

.grids--grid {
    outline: 2px solid #DADADA;
    margin: 1px;
    background-color: var(--color-background);
    z-index: 1;
    transition: all 2.5s;
}

.grids--grid:hover {
    background-color: #dfdfdf;
}

/*  */
.section-3 {
    display: grid;
    grid-template-areas: "space";
    height: 600px;
    width: 100%;
}

.switcher {
    outline: 1px solid #DADADA;
    border-radius: 12px;
    min-width: 500px;
    z-index: 2;
    grid-area: space;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 40px 80px 40px 80px;
    background-color: var(--color-background);
}

.switcher h1 {
    font-size: 44px;
    margin-bottom: 42px;
}

.switcher--content nav {
    margin-top: 0;
}

.switcher--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.switcher--text p {
    width: 400px;
}

.columns {
    grid-area: space;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 3fr 3fr 3fr 0.5fr;
}

.columns--column {
    outline: 2px solid #DADADA;
    margin: 1px;
}

/*  */
.section-4 {
    display: grid;
    grid-template-areas: "space";
    height: 100%;
    width: 100%;
}

.pae-map {
    z-index: 1;
    grid-area: space;
    justify-self: center;
    align-self: center;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 138px;
    row-gap: 30px;
}

.pae-map--item {
    outline: 1px solid #DADADA;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 24px 40px;
    background: white;
    justify-self: end;
}

.table {
    grid-area: space;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 3fr 3fr 3fr 0.5fr;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
}

.cell {
    outline: 2px solid #DADADA;
    margin: 1px;
    display: flex;
    padding-left: 18px;
    align-items: center;
    text-align: left;
}

/*  */
.section-5 {
    display: grid;
    grid-template-areas: "spacetwo";
}

.contact-columns {
    grid-area: spacetwo;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 3fr 3fr 3fr 0.5fr;
}

.columns2--column {
    outline: 2px solid #DADADA;
    margin: 1px;
}

.contact-form {
    z-index: 1;
    grid-area: spacetwo;
    margin: 120px auto 180px auto;
    padding: 30px 40px 30px 40px;
    border-radius: 12px;
    outline: 1px solid #DADADA;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 24px;
    background-color: var(--color-background);
}

.contact-row {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

form {
    display: grid;
    gap: 12px;
}

input {
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid #DADADA;
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  */
.section-6 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 8px;
    padding: 60px 0 24px 0;
    background-color: #292929;
}

.section-6 h1 {
    color: #4E4E50;
    margin-bottom: 60px;
}

.section-6 ul {
    margin-bottom: 18px;
}

.section-6 p {
    text-align: center;
}
